@import url("https://fonts.googleapis.com/css2?family=Farsan&family=Lora&display=swap");

@import url("components/container.css");

@import url("components/avatar.css");

@import url("components/button.css");

@import url("components/banner.css");

@import url("components/card.css");

body{
	font-family: 'Lora', serif;
	font-size: 18px;
	margin: 0px;
}

h1, h2, h3 {
	font-family: 'Farsan', cursive;
	font-weight: bold;
}

a {
text-decoration: none;
}


.center {
  border: 2px solid;
  background-color: rgba(30,30,30,0.1);
  margin: auto;
  width: 50%;
  padding: 25px;
}
